[submodule "standard-contracts/lib/openzeppelin-contracts"]
	path = standard-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "standard-contracts/lib/forge-std"]
	path = standard-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
