# Node modules of packages
**/node_modules/**

# Directories of generated code for MUD projects
**/out
**/codegen
**/deploys/**
**/cache
**/**/worlds.json
# MUD Client generated static data
**/dist 

.nx/cache
