# Node modules of packages
**/node_modules/**

# Directories of generated code for MUD projects
**/out
**/deploys/**
**/cache
**/**/worlds.json
# MUD Client generated static data
**/dist 
# Worlds.json
**/worlds.json
.mud

.nx/cache
.DS_Store
**/**/broadcast/

#no npm package-locks needed
**/package-lock.json

# Ignore all env files
**/.env